body {
    text-align: center;
}

.modal {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
	padding-top: 120px;
}

.hide-modal{
	display: none;
}

.content {
	background-color: #fefefe;
	text-align: center;
	line-height: 20%;
	width: 400px;
	height: 210px;
	border-radius: 5px;
	margin: auto;
	padding-top: 10px;
}

.PlayerIcon button {
	background-color: #c0e3f9;
	border: .12rem solid transparent;
	color: #ffffff;
	box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
	cursor: pointer;
	border-radius: 5px;
	height: 150px;
}

.PlayerIcon button:hover {
	box-shadow: 12px 14px 26px 0 rgba(100,65,80,.15);
	background-color: #caebff;
}

.PlayerIcon button:focus {
	background-color: #a0d0ee;
	outline: none;
}